<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>answersAsReadonly</name>
        <type>plugin</type>
        <creationDate>2018-05-20</creationDate>
        <lastUpdate>2020-03-09</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://extensions.sondages.pro/</authorUrl>
        <supportUrl>https://support.sondages.pro/</supportUrl>
        <version>0.3.0</version>
        <license>GNU Affero General Public License v3.0</license>
        <description><![CDATA[Set answer part as readonly with a css and javascript solution.]]></description>
    </metadata>
    <priority>0</priority>
    <compatibility>
        <version>2.73</version>
        <version>3.0</version>
        <version>4</version>
    </compatibility>
</config>
